<ion-view title="{{group.name}}">
    <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <ion-nav-back-button class="button-icon icon ion-chevron-right"></ion-nav-back-button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">
        <div class="item-avatar item" style="border-bottom: none">
            <img class="full-image" src="http://imageserve.babycenter.com/14/000/079/kltNdHuAgKewqZWZlYBafPvro04lAp53_med_sq.jpg" ng-if="!group.imageUrl" />
            <img class="full-image" ng-src="{{group.imageUrl}}_med_sq.jpg" ng-if="group.imageUrl" />
            <h2>{{group.name}}</h2>
        </div>
      <div class="item item-body" style="border-top: none">
            <span ng-bind-html="group.body"></span>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios7-people"></i>
          {{group.numberOfMembers}}
        </a>
        <a class="tab-item">
          <i class="icon ion-chatbubbles"></i>
          {{group.numberOfThreads}}
        </a>
      </div>
    </div>
    <div ng-repeat="thread in threads"  class="list card ">
      <div class="item item-avatar">
        <img ng-src="http://imageserve.babycenter.com/15/000/079/P4drmETAeGKDGzHIXdafrYV1d1ncMihb_sm_sq.jpg" ng-if="!thread.creator.avatarUrl">
        <img ng-src="{{thread.creator.avatarUrl}}_sm_sq.jpg" ng-if="thread.creator.avatarUrl">
        <h2>{{thread.creator.screenName}}</h2>
        <p class="subdued">{{thread.createDate}}</p>
      </div>
      <div class="item item-body">
        <h2>{{thread.title}}</h2>
        <img class="full-image" ng-src="{{thread.imageUrl}}_med.jpg" ng-if="thread.imageUrl" />
        <p ng-bind-html="thread.body" ></p>
        <p>
          <a href="#" class="subdued"><i class="icon ion-heart"></i> 5</a>
          <a href="#/app/group/{{group.id}}/thread/{{thread.id}}" class="subdued"><i class="icon ion-chatbubble"></i> {{thread.numberOfComments}}</a>
        </p>
      </div>
    </div>
    <ion-infinite-scroll distance="2"
      on-infinite="loadMoreThreads()"
      ng-if="!morethreads"  >
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
