<ion-view>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <img src="img/logo.svg" alt="BabyCenter Logo" />
          <ion-nav-back-button class="button-icon icon ion-chevron-right"></ion-nav-back-button>
  </ion-nav-buttons>
  <ion-header-bar class="bar bar-subheader">
    <div class="tabs">
      <a class="tab-item" ui-sref="list">
        <p>All groups</p>
      </a>
      <a class="tab-item" ui-sref="secondlist">
        <p>My Groups</p>
      </a>
    </div>
  </ion-header-bar>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
